@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(63, 3, 65, 1) 0%, rgba(86, 15, 124, 1) 33%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Courier Prime', monospace;
}


button {
    cursor: pointer;
}